<extend name="Base/common" />
<block name="body">
    <style type="text/css">
        .page_on {
            width: 49.5%;
            color: #f00;
            border: #f00 solid;
            border-width: 0 0 2px 0;
        }
        .tab-nav {
            height: 3rem;
            border: solid #E0E0E0;
            border-width: 0 0 2px 0;
        }
        .tab-nav div {
            height: 100%;
            font-size: 1.5rem;
            line-height: 3rem;
            text-align: center;
            float: left;
            width: calc(25% - 1px);
            border: solid #E0E0E0;
            border-width: 0 1px;
            margin-right: -1px;
        }
        .tab-pane {
            display: none;
            margin-left: 2em;
        }
        .in {
            display: block;
        }
        .form-item {
            margin: 15px 0;
        }
        .item-label{
            font-weight: bold;
        }
        .input-medium {
            width: 10rem;
        }
        .input-large {
            width: 18rem;
        }
        .btn_submit {
            width: 8rem;
        }
        textarea{
            width: 18rem;
        }
        #star img{
            width: auto;
        }
    </style>
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('add')}" method="post" class="form-horizontal">
                <!-- 基础文档模型 -->
                <volist name=":parse_config_attr($model['field_group'])" id="group">
                <div id="tab{$key}" class="tab-pane <eq name="key" value="1">in</eq> tab{$key}">
                    <volist name="fields[$key]" id="field">
                        <if condition="$field['is_show'] == 1 || $field['is_show'] == 2">
                        <div class="form-item">
                            <label class="item-label">{$field['title']} :<span class="check-tips"><notempty name="field['remark']">（{$field['remark']}）</notempty></span></label>
                            <div class="controls">
                                <switch name="field.type">
                                    <case value="num">
                                        <if condition="$field['name'] eq 'intention' ">
                                            <div id="star"></div>
                                        <else/>
                                            <input type="text" class="input-medium" name="{$field.name}" value="">
                                        </if>
                                    </case>
                                    <case value="string">
                                        <input type="text" class=" input-large" name="{$field.name}" value="">
                                    </case>
                                    <case value="textarea">
                                        <label class="textarea input-large">
                                        <textarea name="{$field.name}"></textarea>
                                        </label>
                                    </case>
                                    <case value="datetime">
                                        <input type="text" name="{$field.name}" class=" input-large time" value="{:date('Y-m-d H:i:s',time())}" placeholder="请选择时间" />
                                    </case>
                                    <case value="bool">
                                        <select name="{$field.name}">
                                            <volist name=":parse_field_attr($field['extra'])" id="vo">
                                                <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                            </volist>
                                        </select>
                                    </case>
                                    <case value="select">
                                        <select name="{$field.name}">
                                            <volist name=":parse_field_attr($field['extra'])" id="vo">
                                                <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                            </volist>
                                        </select>
                                    </case>
                                    <case value="radio">
                                        <volist name=":parse_field_attr($field['extra'])" id="vo">
                                            <label class="radio">
                                            <input type="radio" value="{$key}" name="{$field.name}">{$vo}
                                            </label>
                                        </volist>
                                    </case>
                                    <case value="checkbox">
                                        <volist name=":parse_field_attr($field['extra'])" id="vo">
                                            <label class="checkbox">
                                            <input type="checkbox" value="{$key}" name="{$field.name}[]">{$vo}
                                            </label>
                                        </volist>
                                    </case>

                                    <default/>
                                    <input type="text" class="text input-large" name="{$field.name}" value="">
                                </switch>
                            </div>
                        </div>
                        </if>
                    </volist>
                </div>
                </volist>
                <center>
                    <button class="button btn_submit status_error" type="submit">确 定</button>
                    <button class="button btn_submit status_success" type="button" onclick="javascript:history.go(-1);">返 回</button>
                </center>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__STATIC__/raty-2.5.2/lib/jquery.raty.min.js"></script>

    <script type="text/javascript">
    $(function(){
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });

        //$('#star').raty();
        $('#star').raty({
            score: 0,
            scoreName:'intention',
            click: function(score, evt) {
                //$('input[name="intention"]').val(score);
            }
        });
     });


    $('.tab-nav div').each(function(){
        $(this).click(function(){
            var tab = $(this).data('tab');
            $('.current').removeClass('current');
            $('.in').removeClass('in');
            $(this).addClass('current');
            $('#' + tab).addClass('in');
        });
    })

    var nick_name = '{$nick_name}';
    $(function(){
        $('input[name="sales_name"]').val(nick_name);
    })
    </script>
</block>