<div style="height: 30px;width: 100%;border: #ccc solid;border-width: 0 0 2px 0;background-color: #fff;">
    <div class="left" style="height:100%;width: 50%; font-size: 1.5rem;line-height: 30px;text-align: center;" onclick="redirect('{:U('Ownership/index',array('id'=>${id}))}')">	置业计划
    </div>
    <span style="padding-left: 1px;background-color: #EBEBEB;padding-bottom: 17px;" ></span>
    <div class="right" style="height:100%;width: 49%;font-size: 1.5rem;line-height: 30px;text-align: center;color: #f00;border: #f00 solid;border-width: 0 0 2px 0;" >
    	置业列表
	</div>
</div>