<extend name="Base/common" />
<block name="body">
    <style type="text/css">
        .titleN{
            font-size: 1.6rem;
            line-height: 4.5rem;
            padding-left: 20px;
            display: -webkit-box;
        }
        .icon{
            margin-top: 1.3rem;
            height: 2rem;
            width: 2rem;
            display: block;
            background: url('__MIMG__/icon/user_info.png') no-repeat;
            background-size: auto 1.8rem;
        }
        table{
            width: 80%;
            margin-left: 5%;
            font-size: 1.6rem;
        }
        tr{
            margin: 5px 0;
        }
        tr>td:first-child{
            min-width: 7rem;
            font-weight:bold;
            font-size: 1.3rem;
        }
        td>img{
           /* max-height: 20rem;*/
           height: auto;
        }

        .info{
            border: solid #EBEBEB 1px;
            margin:5px 10px;
            border-radius: 4px;
            min-height: 10rem;
            width: calc(100%-10px);
            padding: 10px 5px;
        }
        .info>div{
            height: 2rem;
            line-height: 2rem;
            float: left;
        }
        .l_info{
            width: 100%;
            display: -webkit-box;
        }
        .s_info{
            width: 49%;
            display: -webkit-box;
        }
        .info_title{
            min-width: 6rem;
            font-weight: bold;
        }
    </style>
    <table >
        <tr>
            <td>客户姓名：</td>
            <td>{$info.cus_name}</td>
        </tr>
        <tr>
            <td>客户手机：</td>
            <td>{$info.cus_phone}</td>
        </tr>
        <tr>
            <td>凭证图片：</td>
            <td><img src="__ROOT__{:get_cover($info['voucher_thumb'])}" onclick="show_pic('{$info[\'voucher_thumb\']}','__ROOT__{:get_cover($info[\'voucher_thumb\'])}')"></td>
        </tr>
        <tr>
            <td>凭证编码：</td>
            <td>{$info.voucher_number}</td>
        </tr>
        <tr>
            <td>顾问姓名：</td>
            <td>{$info.user_name}</td>
        </tr>
        <tr>
            <td>顾问电话：</td>
            <td>{$info.user_phone}</td>
        </tr>
        <tr>
            <td>认筹时间：</td>
            <td>{$info.created_time|date='Y-m-d H:i:s',###}</td>
        </tr>
    </table>
    <center>
    <if condition="$info['status'] eq 1 ">
        <div class=" status_success">审核已通过</div>
    <else/>
        <div class="status_over">审核未通过</div>
    </if>
    </center>

    <if condition="$info['room'] neq null">
    <div>
        <h3 style="text-align: center;">已购房号</h3>
        <div class="info" onclick="toRoom('{$info.room.id}')">
            <div class="l_info">
                <div class="info_title">地址：</div>
                <div>{:getHouses('title')}{$info.room.b_name}-{$info.room.u_name}-{$info.room.room_number}号</div>
            </div>
            <div class="s_info">
                <div class="info_title">房号：</div>
                <div>{$info.room.u_name} - {$info.room.room_number}</div>
            </div>
            <div class="s_info">
                <div class="info_title">面积：</div>
                <div>{$info.room.area} m²</div>
            </div>
            <div class="s_info">
                <div class="info_title">朝向：</div>
                <div>{$info.room.orientation}</div>
            </div>
            <div class="l_info">
                <div class="info_title">户型：</div>
                <div>{$info.room.apartment}室{$info.room.hall}厅{$info.room.kitchen}厨{$info.room.toilet}卫</div>
            </div>
        </div>
    </div>
    <else/>
        <div class="tip"><div>尚未购房，赶紧收场抢房吧！</div></div>
    </if>
    <center>
        <button class="button btn_submit" style="margin: 30px auto;background-color: {$bg_color}" onclick="redirect('{:U('Login/logout')}');">
           退出登录
        </button>
    </center>
</block>
<block name="script">
    <script type="text/javascript" charset="utf-8">
    hightLine('User/index');
    function toRoom(id){
            var url = ThinkPHP.APP + '/Raise/Room/room_info/id/' + id;
            window.location.href = url;
        }
    </script>
</block>