<extend name="Public/base" />

<block name="body">
    <div class="main-title cf">
        <h2>新增邀请码</h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <div class="tab-content">
    <!-- 表单 -->
    <form id="form" method="post" class="form-horizontal">
        <!-- 基础文档模型 -->
        <div id="tab" class="tab-pane in">
            <label class="item-label">输入本次生成邀请码的数量（1-100）</label>
            <div class="controls" style="width: 400px;display: -webkit-box;">

                <input type="hidden" name="id[]" value="{$vo.id}">
                <input type="number" class="text" name="num"  style="width: 150px;">
            </div>
        </div>
        <div class="form-item cf">
            <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a class="btn btn-return" href="javascript:;" >返 回</a>
        </div>
    </form>
    </div>
</div>
</block>
