<extend name="Base/common" />
<block name="body">
    <style type="text/css">
        .block{
            width: 6rem;
            margin: 10px;
            height: 6rem;
            float: left;
            border-radius: 4px;
            box-shadow: 1px 2px 3px 0 #ACACAC;
            background-color: rgba(255,250,205,0.8);
            font-weight: bold;
            font-size: 1.1rem;
        }
       /* .block>.icon{
            width: 5rem;
            height: 5rem;
            margin: 0.5rem auto;
            background: url('__MIMG__/icon/icon_houses.png') no-repeat;
            background-size: 5rem;
        }*/
        .blick_title{
            height: 2rem;
            margin: 1rem 4px 0 4px;
        }
    </style>
    <!-- 在父标签加上overfl:hidden可以解决子标签使用float，父标签无法自适应的问题 -->
    <center style=" overflow: hidden">
        <if condition="is_auth(AUTH_BBORDER_ADD)">
        <div class="block" onclick="redirect('{:U('add')}')">
            <div class="icon"></div>
            <div class="blick_title">客户备案添加</div>
        </div>
        </if>
        <if condition="is_auth(AUTH_BBORDER_MANAGE)">
        <div class="block" onclick="redirect('{:U('over_time')}')">
            <div class="icon"></div>
            <div class="blick_title">修改保护期时间</div>
        </div>
        </if>
        <volist name="button" id="btn">
            <div class="block" onclick="redirect('{:U('index',array('type'=>$btn['class']))}')">
                <div class="icon"></div>
                <div class="blick_title">{$btn.title}</div>
            </div>
        </volist>


        <div class="block" onclick="redirect('{:U('common')}')">
            <div class="icon"></div>
            <div class="blick_title">统计表</div>
        </div>
        <!-- 同解决子标签使用float而父标签无法自适应的问题 -->
       <!--  <div style="clear: both;"></div> -->
    </center>
    <if condition="is_auth(AUTH_BBORDER_ADD)">
        <div class="fixed_add" style="background-color: {$bg_color}; padding: 6px;" onclick="redirect('{:U('add')}')">
            <img src="__MIMG__/icon/add_big.png">
        </div>
    </if>
</block>
<block name="script">
    <script type="text/javascript">
    </script>
</block>