<extend name="Public/base" />
<block name="body">
<div class="wrap J_check_wrap">
  <div class="h_a">新建发布方案</div>
  <form name="myform" action="{:addons_url('Collection://Node/import_program_add', array('nodeid'=>$nodeid,'type'=>$type,'ids'=>$ids) )}" method="post" >
    <div class="table_full">
    <table width="100%" class="table_form">
		<tr>
			<th width="120">模型：</th> 
			<td><select name="model_id">
					<option value="">请选择</option>
					<option value="2">文章模型</option>
					<option value="3">楼盘模型</option>
				</select>
			</td>
		</tr>
	</table>
    </div>
     <div class="">
      <button type="submit" class="btn btn_submit  mr10">提交</button>
    </div>
  </form>
  <div class="bk10"></div>
  <div class="h_a">发布方案列表</div>
   <div class="table_full">
    <table width="100%" class="table_form">
		<volist name="program_list" id="vo">
        <tr>
			<th width="200"><label><input type="radio" name="programid" value="{$vo.id}">{$vo.name}</label></th> 
			<td>栏目：{$catlist[$vo['category_id']]['name']} &nbsp;&nbsp;&nbsp;&nbsp;操作：<a class="J_ajax_del" href='{:addons_url("Collection://Node/import_program_del",array("id"=>$vo['id']))}'>删除</a> | <a href='{:addons_url("Collection://Node/import_program_edit",array("id"=>$vo[id],"nodeid"=>$nodeid,"type"=>$type,"ids"=>$ids   ))}'>编辑</a></td>
		</tr>
        </volist>
	</table>

</div>
<script src="{$config_siteurl}statics/js/common.js?v"></script>
</block>