<extend name="Base/Common"/>
<block name="style">
    <link rel="stylesheet" href="__STATIC__/swiper/css/swiper.min.css">
</block>
<block name="body">
    <div >
        <img class="swiper_img" src="__MIMG__/banner_1.png" style="width: 100%;">
    </div>
    <div class="module">
        <div class="item">
            <div class="item_info">
                <span class="item_title">这是一个组名</span>
                <span class="group_num">3人</span>
                <div class="time">创建时间</div>
            </div>
            <div class="item_more">
                <li class="arrow"></li>
            </div >
        </div>
        <div class="item">
            <div class="item_info">
                <span class="item_title">这是一个组名</span>
                <span class="group_num">3人</span>
                <div class="time">创建时间</div>
            </div>
            <div class="item_more">
                <li class="arrow"></li>
            </div>
        </div>
    </div>
</block>
<block name="footer">
    <footer class="footer_fixed">
        <div class="footer_btn">
           <a href=""> 添加会员组</a>
        </div>
    </footer>
</block>
<block name="script">
    <script type="text/javascript">

    </script>
</block>