<extend name="Base/Common" />
<block name="style">
    <link rel="stylesheet" href="__STATIC__/swiper/dist/css/swiper.min.css">
</block>
<block name="body">
    <div style="width :100%;background-color: rgb(229, 229, 229);">
        <div class="module">
            <div class="swiper hide">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img class="swiper_img" src="__MIMG__/banner_1.png"></div>
                        <div class="swiper-slide"><img class="swiper_img" src="__MIMG__/banner_2.png"></div>
                        <div class="swiper-slide"><img class="swiper_img" src="__MIMG__/banner_3.png"></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div id="div_menu" class="div_menu" style="margin: 0px;padding-top: 10px;">
                <div class="menu_news hide ">
                    <div class="font_title">中房快讯</div>
                    <div style="display: inline;"> | </div>
                    <div class="top_icon"></div>
                    <div class="menu_news_name">海南陵高【开元盛景】优雅人居</div>
                </div>
                <div class="swiper_mune">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <volist name="_menu" id="menu">
                            <div class="swiper-slide">
                                <div class="menu">
                                    <volist name="menu" id="list">
                                    <div class="menu_list" onclick="redirect('{:U($list[\"path\"])}')">
                                        <li class="" style=" background: url('__ROOT__{$list['icon']}') no-repeat;"></li>
                                        <div>{$list.title}</div>
                                    </div>
                                    </volist>
                                </div>
                            </div>
                            </volist>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>


            <div class="div_houses">
                <div class="houses_head">
                    <div id="houses_title" class="houses_title left" style="">
                        <li class="building_icon"></li>
                        <span class="font_title " style="padding-left: 5px; padding-top: 10px;">房源列表
                        </span>
                    </div>
                    <div id="hosues_search" class="hosues_search right hide">
                        <span class="right" style="padding-right: 10px;padding-top: 5px;">
                            <li class="search_icon"></li>
                            <span id="search">搜索：</span>
                            <span style="color: red;" id="search_b">栋号</span>
                            <span style="color: red;">|</span>
                            <span style="color: red;" id="search_u">单元</span>
                        </span>
                        <span id="search_input" class="right hide" >
                            <input type="text" name="search_kw" id="search_kw" style="margin: 0 0 0 10px;width: 1px;">
                        </span>
                    </div>
                    <if condition="is_auth(AUTH_ROOM_CHECK)">
                    <div class="sellStatus">
                        <div class="sellStatus_on" onclick="changeSellStatus(1)">在售</div>
                        <div  onclick="changeSellStatus(-1)">待售</div>
                    </div>
                    </if>
                </div>
                <div class="select">
                    <div class="select_name"><span>栋号</span></div>
                    <div class="scroll_list" id="building_list">
                        <!-- <div class="button">楼1</div>
                        <div class="button button_on">楼2</div>
                        <div class="button">楼3</div>
                        <div class="button">楼4</div>
                        <div class="button">楼5</div> -->
                    </div>
                </div>
                <div class="select">
                    <div class="select_name"><span>单元</span></div>
                    <div class="scroll_list" id="unit_list">
                        <!-- <div class="button button_on">单元1</div>
                        <div class="button">单元2</div>
                        <div class="button">单元3</div> -->
                    </div>
                </div>
                <!-- <center class="select_value">
                    <span class="">楼1</span>
                    <span class="">单元1</span>
                </center> -->
                <div class="houses_tip">
                    <center>
                        <span class="status_success"></span>&nbsp;未售
                        <span class="status_waring"></span>&nbsp;锁定
                        <span class="status_error"></span>&nbsp;已售
                        <span class="status_raise"></span>&nbsp;认购
                    </center>
                    <center>
                        <if condition="is_auth(AUTH_ROOM_CHECK)">
                            <span class="status_check1"></span>&nbsp;锁定审核
                            <span class="status_check2"></span>&nbsp;成交审核
                        </if>
                        <if condition="is_auth(AUTH_ROOM_MARKETINCON)">
                            <span class="status_none"></span>&nbsp;销控
                        </if>
                    </center>
                </div>
                <div class="houses" id="room_list">
                    <!-- <div class="floor">
                        <div class="floor_num">1</div>
                        <div class="room_info">
                            <div class="room_number status_success">0101</div>
                            <div class="room_number status_over">0102</div>
                            <div class="room_number status_waring">0103</div>
                            <div class="room_number status_error">0104</div>
                        </div>
                    </div> -->
                </div>
                <!-- <center>
                    <button class="more_btn" >查看更多</button>
                </center> -->
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/swiper/dist/js/swiper.min.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
    <script type="text/javascript" src="__JS__/getHouse.js"></script>
    <script type="text/javascript">
        getBuilding();
        hightLine('Index/index');
    </script>
</block>