<extend name="Base/common" />
<block name="body">
    <style type="text/css">
    .close {
        position: relative;
        color: white;
        background-color: rgba(255, 0, 0, 0.7);
        float: right;
        top: 2rem;
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        line-height: 2rem;
        text-align: center;
        z-index: 100;
    }
    </style>
    <form action="" method="POST">
        <div class="unit_set">
            <div class="unit_set_item">
                <div class="unit_set_title">单元名称（序号）:</div>
                <div class="unit_set_value">
                    <input class="input_m" type="" class="input" name="u_name">
                </div>
            </div>
            <div class="unit_set_item">
                <div class="unit_set_title">每层房间套数:</div>
                <div class="unit_set_value">
                    <input class="input_s" type="number" name="room_num">
                </div>
            </div>
            <div class="unit_set_item">
                <div class="unit_set_title">楼层区间:</div>
                <div class="unit_set_value">
                    <input class="input_s" type="number" name="floor_start"><span style="margin: 0 10px;">-</span>
                    <input class="input_s" type="number" name="floor_over">
                </div>
            </div>
        </div>
        <div class="check_other">
            <label>勾选其他相同单元</label>
            <div class="check_info"></div>
            <div class="check_unit_set">
            </div>
        </div>
        <div class="sameroom_set">
            <div class="room_scroll">
            </div>
            <div class="room_page">
            </div>
        </div>
        <center id="button" style="margin: 20px 0;" class="hide">
            <input type="hidden" name="b_id" value="{$_building.b_id}">
            <input type="hidden" name="u_order" value="{$_building.u_order}">
            <button class="button_l btn_submit" type="submit">确认无误提交</button>
        </center>
    </form>
    <!-- 用于放置用户要上传图片的表单，没添加一个套房的信息，就添加一个表单 -->
    <div id="fromPicdiv">
    </div>
</block>
<block name="script">
    <script type="text/javascript" charset="utf-8">
    var room_num = 0;
    var $fields = '{$_fields}';
    $fields = JSON.parse($fields);
    var UnitInfohtml = '';
    var fromHtml  = '';
    /**
     * 每种套房设计方案
     */
    $.each($fields, function(i){
        if (this.name == 'thumb') {
            UnitInfohtml += '<div class="unit_set_item" style="height:auto;">' +
                                '<div class="unit_set_title">' + this.title + ':</div>' +
                                '<div class="unit_set_value">' +
                                    '<div class="button" onclick="fileSelect(\'%s\')" style="width:auto;margin:5px;padding:0 5px;">选择图片</div>' +
                                    '<input class="input_m" id="thumb%s"  type="hidden" name="thumb[]">' +
                                '</div>' +
                            '</div>' +
                            '<div id="showPic%s" class="hide"  style="width:90%;margin:0 auto;margin-top:-1.8rem;"></div>';

            fromHtml += '<form id="form%s" enctype="multipart/form-data">' +
                '<input class="input_m hide" id="fileToUpload%s" name="fileToUpload[]" type="file" multiple  accept="image/png,image/jpg,image/gif,image/jpeg,image/svg"  onChange="fileUpload(\'%s\')" >' +
                '</form>';
        } else {
            UnitInfohtml += '<div class="unit_set_item">' +
                '<div class="unit_set_title">' + this.title + ':</div>' +
                '<div class="unit_set_value">' +
                '<input class="input_m" type="" class="input" name="' + this.name + '[]">' +
                '</div>' +
                '</div>';
        }
    });
    $('.room_page').html(UnitInfohtml);
    /**
     * AJAX获取所有的栋和单元，为填写相同的单元准备
     */
    var $houses_id = '{$house}';
    $.ajax({
        url: '__CONTROLLER__/get_building_list',
        type: 'POST',
        data: 'houses_id=' + $houses_id,
        success: function(msg) {
            if (msg.error == 0) {
                check_html(msg.list);
            } else {

            }
        },
    })

    /**
     * 检测获取到的栋和单元判断那些已经填写，那个是当前填写
     */
    function check_html($list) {
        $($list).each(function(i, item) {
            var html = '';
            html += '<div class="check_building">' +
                '<div class="check_b_name">' + item.b_name + '栋</div>' +
                '<div class="check_unit">';
            var $is_w = item.is_w;
            $is_w = $is_w.split(',');
            $($is_w).each(function(k, itemI) {
                //如果itemI是0表示还没有填写ID
                if (itemI == 0) { //z
                    if ((k) == "{$_building.u_order}" && (item.id == "{$_building.b_id}")) { //正在编辑的单元
                        html += '<div class="check_u_item" style="color:red;">' +
                            '' + (k + 1) + '单元' +
                            '</div>';
                    } else {
                        html += '<div class="check_u_item">' +
                            '<input type="checkbox" name="other_b_id[]" value="' + item.id + '-' + (k) + '-' + item.b_name + '">' + (k + 1) + '单元 ' +
                            '</div>';
                    }
                    // 每个复选框中的value都是有栋号ID，单元排序，栋号名称通过"-"组合成的
                } else {
                    html += '<div class="check_u_item">' +
                        '' + (k + 1) + '单元 ' +
                        '</div>';
                    // 每个复选框中的value都是有栋号ID，单元排序，栋号名称通过"-"组合成的
                }
            });
            html += '</div>' +
                '</div>';
            $('.check_info').append(html);
        });
        //勾选的后的单元显示输入框填写单元信息
        $('input[name="other_b_id[]"]').each(function(i, check) {
            $(check).click(function() {
                if ($(this).prop("checked")) {
                    add_check($(this).val());
                } else {
                    remove_check($(this).val());
                }

            });
        });
        inputSelect();
    }

    /**
     * 添加相同的单元的单元表单
     */
    function add_check($id) {
        var array = $id.split('-');
        var add_html = '<div id="check_' + $id + '">' +
            '<label>' + array[2] + '栋' + (parseInt(array[1]) + 1) + '单元</label>' +
            '<div class="unit_set_item">' +
            '<div class="unit_set_title">单元名称（序号）:</div>' +
            '<div class="unit_set_value">' +
            '<input class="input_m" type="" class="input" name="u_name-' + array[0] + '_' + array[1] + '">' +
            '</div>' +
            '</div>' +
            '<div class="unit_set_item">' +
            '<div class="unit_set_title">楼层区间:</div>' +
            '<div class="unit_set_value">' +
            '<input class="input_s" type="number" name="floor_start-' + array[0] + '_' + array[1] + '"><span style="margin: 0 10px;">-</span>' +
            '<input class="input_s" type="number" name="floor_over-' + array[0] + '_' + array[1] + '">' +
            '</div>' +
            '</div>' +
            '</div>';
        $('.check_unit_set').append(add_html);
        inputSelect();
    }

    /**
     * 删除单元表单
     */
    function remove_check($id) {
        $('#check_' + $id).remove();
    }


    /**
     * 当每层楼房间数变化时触发
     * @param  {[type]} ){                     room_num [description]
     * @return {[type]}     [description]
     */
    $('input[name="room_num"]').on('input onpropertychange', function() {
        room_num = $(this).val();
        $('.room_scroll').html('');
        $('.room_page').html('');
        if (room_num > 0) {
            var roomHtml = '';
            var pageHtml = ''
            for (var i = 1; i <= room_num; i++) {
                roomHtml += '<div class="group" id="room_' + i + '">套房' + i + '</div>';
                pageHtml += '<div class="room_set" id="page_' + i + '"> ' + UnitInfohtml.replace(/%s/g, i) + '</div>';
                $('#fromPicdiv').append(fromHtml.replace(/%s/g, i));
            }
            $('.room_scroll').html(roomHtml);
            $('.room_page').html(pageHtml);

            $('#room_1').addClass('group_on');
            $('#page_1').addClass('show');  
            $('.sameroom_set').removeClass('hide');
            $('#button').removeClass('hide');
            /**
             * 点击套房，显示对应页面
             */
            $('.group').click(function() {
                $('.show').removeClass('show');
                $('.group_on').removeClass('group_on');
                var roomID = $(this).attr('id');
                var array = roomID.split('_');
                $('#room_' + array[1]).addClass('group_on');
                $('#page_' + array[1]).addClass('show');
            });
        } else {
            $('.room_page').html(UnitInfohtml);
        }
    });



    /**
     * 触发文件选择框架
     * @param  {[type]} id [description]
     * @return {[type]}    [description]
     */
    function fileSelect(id) {
        $('#fileToUpload'+id).click();
    }

    /**
     * 当文件选择框选择文件时自动上传。
     * @param  {int} id 房号的暂时ID
     */
    function fileUpload(id) {
        var formData = new FormData($('#form'+id)[0]); //获取表单
        //formData.append('brand_name',$('option[value="'+$('select').val()+'"]').html());
        //FormData的参数只能是 HTMLFormElement,而JQ拿到的是一个对象，但是下标0的属性就是 HTMLFormElement
        $.ajax({
            url: ThinkPHP.APP + '/Home/UploadPic/uploadPicture',
            type: 'POST',
            data: formData, // Form数据
            cache: false,
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头，然后在表单里面设置Content-Type为enctype="multipart/form-data"
            processData: false, // 告诉jQuery不要去处理发送的数据
            beforeSend: function() {},
            success: function(msg) {
                if (msg.status == 1) {
                    imgHtml(msg.info,id);
                }else{
                     alert('上传失败');
                }
            },
            error: function() {
                alert('上传失败');
            },
        });
    }

    function imgHtml(info,id){
        $(info).each(function(i,item){
            var html ='<div name="pic" data-id="'+item.id+'"><div class="close" onclick="delImg('+id+',' + item.id + ')">X</div>' +
                '<img src="__ROOT__' + item.path + '" style="width:100%;"></div>' ;
            $('#showPic'+id).append(html);
            $('#showPic'+id).removeClass('hide');
        });
        var idA = new Array();
        $('#showPic'+id+'>div').each(function(i,item){
            idA[i] = $(item).data('id');
        });
        var ids = idA.join(',');
        $('#thumb'+id).val(ids);
        
    }
    /**
     * 删除图片
     * @param  {[type]} pic_path [description]
     * @return {[type]}          [description]
     */
    function delImg(id,pid) {
        $.ajax({
            type: 'POST',
            data: 'id=' + pid,
            url: ThinkPHP.APP + '/Home/UploadPic/del_Img',
            success: function(msg) {
                $('div[data-id="'+pid+'"]').remove();//清除图片
                //$('input[name="thumb[]"]').val('');
                var idA = new Array();
                $('#showPic'+id+'>div').each(function(i,item){
                    idA[i] = $(item).data('id');
                });
                var ids = idA.join(',');
                $('#thumb'+id).val(ids);
                if(ids == ''){
                   $('#showPic'+id).addClass('hide');
                }
            }
        });
    }
    </script>
</block>