<extend name="Base/common" />
<block name="body">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/share/nativeShare.css">
	<style type="text/css">
		#pic_title {
		    width: 80%;
		    height: 2.5rem;
		    margin: 0 auto;
		    margin-top: 10px;
		    line-height: 2.5rem;
		    text-align: center;
		    font-size: 1.5rem;
		    background-color: #F5F5F5;
		    -moz-box-shadow: 10px 10px 70px #888888;
		    border-radius: 7px;
		    box-shadow: 2px 2px 10px #888888;
		    cursor: pointer;
		}

		button.close {
		    -webkit-appearance: none;
		    padding: 0;
		    cursor: pointer;
		    background: 0 0;
		    border: 0;
		}

		.close{
		    float: right;
		    font-size: 3rem;
		    line-height: 2.5rem;
		    color: #000;
		    text-shadow: 0 1px 0 #fff;
		    opacity: .2;
		}
        <if condition="$ownership_man['bg_img'] neq '' ">
        .container {
            background: url('./{:get_cover($ownership_man['bg_img'])}')  repeat !important;
            background-size:100% 100%;
        }
        </if>
	</style>
	<div style="height: 30px;width: 100%;border: #ccc solid;border-width: 0 0 2px 0;background-color: #fff;">
        <div class="left" style="height:100%;width: 50%; font-size: 1.5rem;line-height: 30px;text-align: center;" onclick="redirect('{:U('OwnerShip/index',array('id'=>$id))}')">	置业计划
        </div>
        <span style="padding-left: 1px;background-color: #EBEBEB;padding-bottom: 17px;" ></span>
        <div class="right" style="height:100%;width: 49%;font-size: 1.5rem;line-height: 30px;text-align: center;color: #f00;border: #f00 solid;border-width: 0 0 2px 0;" >
        	置业列表
    	</div>
    </div>
    <div style="text-align: center;">
    	<h3>置业计划图片列表</h3>
    </div>
    <if condition="$_list eq '' " >
       <center>没有更多数据了！</center>
    </if>
    <div id="content">
        <volist name="_list" id="vo" >
       		<div id="pic_title" name="pic_title_{$vo.id}">
            	<span data-toggle="modal" data-target="#show_pic" onclick="show_pic_fun('{$vo.id}','{$vo.path}')" data-url="{$vo.path}">
            	{$vo.created_time}</span>
            	<button type="button" class="close" onclick="del_own_pic('{$vo.id}_{$vo.path}')" >×</button>
            </div>
        </volist>
        <div id="navigation" align="center">
        <!-- 页面导航-->
            <a href="{:U('OwnerShip/lists')}&page=2"></a>
            <!-- 此处可以是url，可以是action，要注意不是每种html都可以加，是跟当前网页有相同布局的才可以。另外一个重要的地方是page参数，这个一定要加在这里，它的作用是指出当前页面页码，每加载一次数据，page自动+1,我们可以从服务器用request拿到他然后进行后面的分页处理。-->
        </div>
    </div> 
</block>
<block name="script">
	<script type="text/javascript" src="__STATIC__/plugins/infinitescroll/jquery.infinitescroll.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__STATIC__/pinchzoom/src/pinchzoom.js"></script>
    <script  type="text/javascript" src="__PUBLIC__/Mobile/share/nativeShare.js" charset="utf-8"></script>
    <script type="text/javascript">
        var totalpage = '{$totalpage}';
        $(document).ready(function() { //别忘了加这句，除非你没学Jquery

            $("#content").infinitescroll({
                loading: {
                    finished: undefined,
                    finishedMsg: "<em>很抱歉，内容已经浏览完了！</em>",
                    msgText: "<div id='msgText'  style='text-align: center;' ><img style='width:2rem;' src='__STATIC__/plugins/infinitescroll/images/loading.gif' /><if condition='$totalpage eq 1'>已没有更多数据<else/>请稍等.正在加载中...</if></div>",
                    selector: null,
                    speed: 'fast',
                    start: undefined
                },
                maxPage: totalpage,
                bufferPx: 1,
                navSelector: "#navigation", //导航的选择器，会被隐藏 
                nextSelector: "#navigation a", //包含下一页链接的选择器  
                itemSelector: "#content ", //你将要取回的选项(内容块)  
                animate: true, //当有新数据加载进来的时候，页面是否有动画效果，默认没有 
                extraScrollPx: 10, //滚动条距离底部多少像素的时候开始加载，默认150  
                errorCallback: function() {
                    $('div#msgText').html('该栏目内容已更新完毕！');
                }, //当出错的时候，比如404页面的时候执行的函数  
            }, function(arrayOfNewElems) {
                //程序执行完的回调函数  
            });
        });
    </script>
	<script type="text/javascript">
    /**
     * 删除置业计划图片
     */
    function del_own_pic($path) {
        $.ajax({
            type: "POST",
            url: ThinkPHP.APP + '/Home/OwnerShip/del_own_pic',
            data: {
                'path': $path,
            },
            error: function(request) {
                alert("Connection error");
            },
            success: function(msg) {
                $('div[name="pic_title_' + msg['info'][0] + '"]').remove();
            }
        });
    }

    /**
     * 下载图片
     * @type {String}
     */
    var host =  "http://{$_SERVER['HTTP_HOST']}";
    var config = JSON.parse('{$config}');
    var houses = '{$houses}';
    function show_pic_fun(id,url) {
        $('#dialog_empty').show();
        var html = '<div id="showpicZoom" ><img src="'+url+'" style="width:90%;height:100%; margin: 0 auto;display: block;" onclick="hidedialog()"><div>';
        $('#empty_content').html(html);
        new RTP.PinchZoom($('#showpicZoom'), 'maxZoom');
        $('#dialog_empty').show();
            var html = '<div id="showpicZoom">'+
                        '<img src="'+url+'" style="width:96%;margin: 0 auto;display: block;" onclick="hidedialog()">'+
                        '<div>';
            $('#empty_content').html(html);
            $('#dialog_empty').append('<div id="share" style="z-index: 1003;width: 100%;color:#fff;"><div id="nativeShare"></div></div>');
            new RTP.PinchZoom($('#showpicZoom'), 'maxZoom');
            config.url =  host + ThinkPHP.APP + '/Home/share/ownership_pic_show/houses/'+houses+'/id/' +id;
            config.img = host + ThinkPHP.ROOT+ '/' +url;
            share_obj = new nativeShare('nativeShare',config);
    }
	</script>
</block>