<extend name="Base/common" />
<block name="body">
    <style type="text/css">
    .close {
        position: relative;
        color: white;
        background-color: rgba(255, 0, 0, 0.7);
        float: right;
        top: 2rem;
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        line-height: 2rem;
        text-align: center;
        z-index: 100;
    }
    </style>
    <div action="" method="POST">
        <div class="unit_set">
            <div class="unit_set_item">
                <div class="unit_set_title">单元名称（序号）:</div>
                <div class="unit_set_value">
                    <input class="input_m" type="" class="input" name="u_name" value="{$_unit['u_name']}">
                </div>
            </div>
        </div>
        <div class="sameroom_set">
            <div class="room_scroll">
                <volist name="_sameroom" id="vo">
                    <div class="group" id="room_{$vo.id}" onclick="showPage('{$vo.id}')">{$vo['r_name']}</div>
                </volist>
            </div>
            <div class="room_page">
                <volist name="_sameroom" id="vos" k="key">
                <form class="room_set" id="page_{$vos.id}">
                    <input type="hidden" name="sameroom[id]" value="{$vos.id}">
                    <div class="unit_set_item">
                        <div class="unit_set_title">房间序号（名称）</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[r_name]" value="{$vos.r_name}" >
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">单价</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[unit_price]" value="{$vos.unit_price}">
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">建筑面积</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[area]" value="{$vos.area}">
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">总价</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[total_price]" value="{$vos.total_price}">
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">房</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[apartment]" value="{$vos.apartment}">
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">厅</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[hall]" value="{$vos.hall}">
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">厨</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[kitchen]" value="{$vos.kitchen}">
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">卫</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[toilet]" value="{$vos.toilet}">
                        </div>
                    </div>
                    <div class="unit_set_item">
                        <div class="unit_set_title">朝向</div>
                        <div class="unit_set_value">
                            <input class="input_m" type="" name="sameroom[orientation]" value="{$vos.orientation}">
                        </div>
                    </div>
                    <div class="unit_set_item" style="height:auto;">
                        <div class="unit_set_title">户型图:</div>
                        <div class="unit_set_value">
                            <div class="button" onclick="fileSelect('{$vos.id}')" style="width:auto;margin:5px;padding:0 5px;">选择图片</div>
                            <input class="input_m" id="thumb{$vos.id}" type="hidden" name="sameroom[thumb]" value="{$vos.thumb}">
                        </div>
                    </div>
                    <div id="showPic{$vos.id}"  style="width:90%;margin:0 auto;">
                        <if condition="$vos['thumb'] neq '' ">
                            <php>$vos['thumb'] =  explode(',',$vos['thumb']);$kk = $key+1;</php>
                            <volist name="vos['thumb'] " id="thumb" k="k">
                            <div class="div_img" data-id="{$thumb}">
                                <div class="close_red right" onclick="delImg('{$vos.id}','{$thumb}')">X</div>
                                <img src="__ROOT__{:get_cover($thumb)}" style="width:100%;">
                            </div>
                            </volist>
                        </if>
                    </div>
                    <center id="button" style="margin: 20px 0;">
                        <input type="hidden" name="b_id" value="{$_building.b_id}">
                        <input type="hidden" name="u_order" value="{$_building.u_order}">
                        <div class="button_l btn_submit" onclick="submit('{$vos.id}')" >提交修改</div>
                    </center>
                </form>
                </volist>
            </div>
        </div>
    </div>
    <!-- 用于放置用户要上传图片的表单，没添加一个套房的信息，就添加一个表单 -->
    <div id="fromPicdiv">
        <volist name="_sameroom" id="vos" k="key">
            <form id="form{$vos.id}" enctype="multipart/form-data">
                <input class="input_m hide fileToUpload" id="fileToUpload{$vos.id}" name="fileToUpload[]" type="file" multiple="" accept="image/png,image/jpg,image/gif,image/jpeg,image/svg" onchange="fileUpload('{$vos.id}')">
            </form>
        </volist>
    </div>
</block>
<block name="script">
    <script type="text/javascript" charset="utf-8">
    var room_num = 0;
    var $fields = '{$_fields}';
    $fields = JSON.parse($fields);
    var UnitInfohtml = '';
    var fromHtml  = '';
    $(function(){
        $.each($fields, function(i){
            if (this.name == 'thumb') {
                UnitInfohtml += '<div class="unit_set_item" style="height:auto;">' +
                                    '<div class="unit_set_title">' + this.title + ':</div>' +
                                    '<div class="unit_set_value">' +
                                        '<div class="button" onclick="fileSelect(\'%s\')" style="width:auto;margin:5px;padding:0 5px;">选择图片</div>' +
                                        '<input class="input_m" id="thumb%s"  type="hidden" name="sameroom[thumb]">' +
                                    '</div>' +
                                '</div>' +
                                '<div id="showPic%s" class="hide"  style="width:90%;margin:0 auto;margin-top:-1.8rem;"></div>'+
                                ' <center id="button" style="margin: 20px 0;" >'+
                                    '<input type="hidden" name="b_id" value="{$_building.b_id}">'+
                                    '<input type="hidden" name="u_order" value="{$_building.u_order}">'+
                                    '<div class="button_l btn_submit" onclick="submit(\'%s\')" >新增别墅</div>'+
                                '</center>';

                fromHtml += '<form id="form%s" enctype="multipart/form-data">' +
                    '<input class="input_m hide fileToUpload" id="fileToUpload%s" name="fileToUpload[]" type="file" multiple  accept="image/png,image/jpg,image/gif,image/jpeg,image/svg"  onChange="fileUpload(\'%s\')" >' +
                    '</form>';
            } else {
                UnitInfohtml += '<div class="unit_set_item">' +
                    '<div class="unit_set_title">' + this.title + '</div>' +
                    '<div class="unit_set_value">' +
                    '<input class="input_m" type="" class="input" name="sameroom[' + this.name + ']">' +
                    '</div>' +
                    '</div>';
            }
        });
        addRoomPage();
    })

    /*添加一个新的别墅表单*/
    function addRoomPage() {
        var roomHtml = '';
        var pageHtml = ''
        var id = 0;
        roomHtml += '<div class="group" id="room_'+id+'" onclick="showPage(\''+id+'\')">新增别墅</div>';
        pageHtml += '<form class="room_set" id="page_0"> ' + UnitInfohtml.replace(/%s/g, id) + '</form>';
        $('#fromPicdiv').prepend(fromHtml.replace(/%s/g, id));

        $('.room_scroll').prepend(roomHtml);
        $('.room_page').prepend(pageHtml);
        showPage(id);
        computed();
    }

    function showPage(id) {
        console.log();
        $('.show').removeClass('show');
        $('.group_on').removeClass('group_on');
        $('#room_' +id).addClass('group_on');
        $('#page_' +id).addClass('show');
    }

    /**
     * 提交
     * @param  {string} id 标识
     * @return {[type]}    [description]
     */
    function submit(id) {
        var formData = new FormData($('#page_'+id)[0]); //获取表单
        formData.append('u_name',$('input[name="u_name"]').val());
        formData.append('id',id);
        $.ajax({
            url: ThinkPHP.APP + '/Home/Room/unit_set2',
            type: 'POST',
            data: formData, // Form数据
            cache: false,
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头，然后在表单里面设置Content-Type为enctype="multipart/form-data"
            processData: false, // 告诉jQuery不要去处理发送的数据
            beforeSend:function(){
            $('#dialog_load').addClass('show');
            },
            complete:function(){
                $('#dialog_load').removeClass('show');
            },
            success: function(msg) {
                if(msg.status == 1){
                    if(id == 0){
                        addHtml(msg.info);
                        alert('添加成功');
                    }else{
                        $('#room_' +id).html(msg.info.r_name);
                        alert('修改成功');
                    }
                }else{
                    alert('添加失败');
                }
            },
            error: function() {
                alert('添加失败');
            },
        });
    }

    /*别墅添加成功后，将新的输入表单中*/
    function addHtml(info){
        $('#room_0').html(info.r_name);
        $('#page_0>center>.button_l').html('提交修改');
        $('#room_0').attr('id','room_' + info.id);
        $('#page_0').attr('id','page_' + info.id);
        $('#thumb0').attr('id','thumb' + info.id);

        $('#showPic0>div').each(function(i,item){
            var did = $(item).data('id');
            $(item).children('div').attr('onclick','delImg('+info.id+','+did+' )');
        })
        $('#showPic0').attr('id','showPic' + info.id);

        $('#form0').attr('id','form' + info.id);
        $('div[onclick="showPage(\'0\')"]').attr('onclick','showPage(\''+info.id+'\')');
        $('div[onclick="submit(\'0\')"]').attr('onclick','submit(\''+info.id+'\')');
        $('div[onclick="fileSelect(\'0\')"]').attr('onclick','fileSelect(\''+info.id+'\')');
        $('input[onchange="fileUpload(\'0\')"]').attr('onchange','fileUpload(\''+info.id+'\')');
        addRoomPage();
        blink($('#room_' + info.id));
    }


    /**
     * 触发文件选择框架
     * @param  {int} id 同类房号ID
     * @return {[type]}    [description]
     */
    function fileSelect(id) {
        $('#form'+id+'>.fileToUpload').click();
    }

    /**
     * 当文件选择框选择文件时自动上传。
     * @param  {int} id 房号的暂时ID
     */
    function fileUpload(id) {
        var formData = new FormData($('#form'+id)[0]); //获取图片表单
        //formData.append('brand_name',$('option[value="'+$('select').val()+'"]').html());
        //FormData的参数只能是 HTMLFormElement,而JQ拿到的是一个对象，但是下标0的属性就是 HTMLFormElement
        $.ajax({
            url: ThinkPHP.APP + '/Home/UploadPic/uploadPicture',
            type: 'POST',
            data: formData, // Form数据
            cache: false,
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头，然后在表单里面设置Content-Type为enctype="multipart/form-data"
            processData: false, // 告诉jQuery不要去处理发送的数据
            beforeSend:function(){
                $('#dialog_load').addClass('show');
            },
            complete:function(){
                $('#dialog_load').removeClass('show');
            },
            success: function(msg) {
                if (msg.status == 1) {
                    imgHtml(msg.info,id);
                }else{
                     alert('上传失败');
                }
            },
            error: function() {
                alert('上传失败');
            },
        });
    }

    function imgHtml(info,id){
        $(info).each(function(i,item){
            var html ='<div name="pic" data-id="'+item.id+'"><div class="close" onclick="delImg('+id+',' + item.id + ')">X</div>' +
                '<img src="__ROOT__' + item.path + '" style="width:100%;"></div>' ;
            $('#showPic'+id).append(html);
            $('#showPic'+id).removeClass('hide');
        });
        var idA = new Array();
        $('#showPic'+id+'>div').each(function(i,item){
            idA[i] = $(item).data('id');
        });
        var ids = idA.join(',');
        $('#thumb'+id).val(ids);
    }
    /**
     * 删除图片
     * @param  {int} id  同类房号ID
     * @param  {int} pid 图片ID
     * @return {[type]}     [description]
     */
    function delImg(id,pid) {
        if(!confirm('是否删除图片！')){
            return ;
        }
        $.ajax({
            type: 'POST',
            data: 'id=' + pid,
            url: ThinkPHP.APP + '/Home/UploadPic/del_Img',
            beforeSend:function(){
                $('#dialog_load').addClass('show');
            },
            complete:function(){
                $('#dialog_load').removeClass('show');
            },
            success: function(msg) {
                $('#showPic'+id+'>div[data-id="'+pid+'"]').remove();//清除图片
                //$('input[name="thumb[]"]').val('');
                var idA = new Array();
                $('#showPic'+id+'>div').each(function(i,item){
                    idA[i] = $(item).data('id');
                });
                var ids = idA.join(',');
                $('#thumb'+id).val(ids);
                if(ids == ''){
                   $('#showPic'+id).addClass('hide');
                }
            }
        });
    }

    /*监听单价和面积计算总价*/
    function computed() {
        $('#page_0 input[name="sameroom[total_price]"]').on('input propertychange',function(){
            var total_price = $(this).val();
            var area =   $('#page_0 input[name="sameroom[area]"]').val();

            var unitprice = total_price/ area;
            if( isNaN(unitprice)){
                unitprice = 0;
            }
            $('#page_0 input[name="sameroom[unit_price]"]').val(parseInt(unitprice));
        })

        $('#page_0 input[name="sameroom[unit_price]"]').on('input propertychange',function(){
            var unitprice = $(this).val();
            var area =   $('#page_0 input[name="sameroom[area]"]').val();

            var total_price = unitprice*area;
            if( isNaN(total_price)){
                total_price = 0;
            }
            $('#page_0 input[name="sameroom[total_price]"]').val(parseInt(total_price));
        })


        $('#page_0 input[name="sameroom[area]"]').on('input propertychange',function(){
            var area = $(this).val();
            var unitprice =   $('#page_0 input[name="sameroom[unit_price]"]').val();
            var total_price = unitprice*area;
            if( isNaN(total_price)){
                total_price = 0;
            }
            $('#page_0 input[name="sameroom[total_price]"]').val(parseInt(total_price));
        })
    }


    </script>
</block>